<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!-- autoReload="true" -->
  <!-- internalLogLevel="Info" -->
  <!-- internalLogFile="internal-nlog.txt" -->


  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets  async="true">
    <!-- write logs to file  -->
    <target xsi:type="File" name="traceLog" fileName="logs/TRACE${shortdate}.log">
      <layout type="JsonLayout">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${uppercase:${level}}" />
        <attribute name="message" layout="${message}" />
        <attribute name="client" layout="${aspnet-request-ip}" />
        <attribute name="method" layout="${aspnet-request-method}" />
        <attribute name="controller" layout="${aspnet-MVC-Controller}" />
        <attribute name="url" layout="${aspnet-request-url}" />
        <attribute name="serverIP" layout="${aspnet-request-host}" />
        <attribute name="serverPort" layout="${local-ip}" />
        <attribute name="serverName" layout="${machinename}" />

        <!-- <attribute name="data" layout="${event-properties:}" /> -->
      </layout>
    </target>

    <target xsi:type="File" name="exceptionLog" fileName="logs/EXCEPTION${shortdate}.log">
      <layout type="JsonLayout">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${uppercase:${level}}" />
        <attribute name="message" layout="${message}" />
        <attribute name="client" layout="${aspnet-request-ip}" />
        <attribute name="method" layout="${aspnet-request-method}" />
        <attribute name="serverIP" layout="${aspnet-request-host}" />
        <attribute name="serverPort" layout="${local-ip}" />
        <attribute name="serverName" layout="${machinename}" />
      </layout>
    </target>

  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="Talab.*" level="Info" writeTo="traceLog" />
    <logger name="*" minlevel="Error" writeTo="exceptionLog" />

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <!-- <logger name="Microsoft.*" maxlevel="Info" final="true" /> BlackHole without writeTo
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
    <logger name="*" minlevel="Debug" writeTo="jsonFile" /> -->
  </rules>
</nlog>